@use "./scss/global/_fonts";
@use "./scss/global/_icons";
@use "./scss/global/_tailwind";
@use "./scss/global/_body";
@use "./scss/global/woocommerce/single-product";
@use "./scss/global/woocommerce/tabs";
